<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <script type="module" src="./static/submitFacts.js"></script>
    <title>Diagnosis Helper Dr K.</title>
</head>
<body>
    <div class="title-bar" align="center">
        <h1>Sistem Pembantu Diagnosis</h1>
        <p style="color:#ffffff">Ini adalah aplikasi web sederhana yang mengimplementasikan Knowledge Based System. Tujuan aplikasi web ini adalah membantu diagnosis penyakit umum THT berdasarkan kondisi / keluhan.</p>
    </div>
    <div id="result" style="display: none;" class="content-wrapper">
        <h2 id="title2">Hasil Diagnosa</h2>
    </div>
    <div class="content-wrapper">
        <h2>Mohon jawab pertanyaan berikut ini untuk mendapatkan diagnosis Anda:</h2>
        <form id="myform">
            <!--question 1-->
            <ol>
            <div class="question-wrapper">
                <li>Berapa usia anda?</li>
                <div class="option">
                    <input type="radio" id="usia_1" name="usia" value="usia_1">
                    <label for="usia_1">0-10 tahun</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="usia_2" name="usia" value="usia_2">
                    <label for="usia_2">10-20 tahun</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="usia_3" name="usia" value="usia_3">
                    <label for="usia_3">>20 tahun</label><br>
                </div>
            </div>

            <!--question 2-->
            <div class="question-wrapper">
                <li>Apa warna cairan yang keluar dari hidung Anda?</li>
                <div class="option">
                    <input type="radio" id="warna_1" name="warna" value="bening">
                    <label for="warna_1">Tidak berwarna / bening</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="warna_2" name="warna" value="kuning">
                    <label for="warna_2">Kuning / kekuningan</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="warna_3" name="warna" value="hijau">
                    <label for="warna_3">Hijau / kehijauan</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="warna_4" name="warna" value="darah">
                    <label for="warna_4">Bercampur darah / merah</label><br>
                </div>
            </div>

            <!--question 3-->
            <div class="question-wrapper">
                <li>Bagaimana konsistensi / tekstur dari cairan yang keluar dari hidung anda?</li>
                <div class="option">
                    <input type="radio" id="tekstur_1" name="tekstur" value="kental">
                    <label for="tekstur_1">Kental</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="tekstur_2" name="tekstur" value="encer">
                    <label for="no">Encer</label><br>
                </div>
            </div>

            
            <!--question 4-->
            <div class="question-wrapper">
                <li>Kira-kira, pada waktu kapan munculnya cairan dari hidung anda?</li>
                <div class="option">
                    <input type="radio" id="waktu_1" name="waktu" value="hanya_pagi">
                    <label for="waktu_1">Hanya di pagi hari</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="waktu_2" name="waktu" value="sepanjang_hari">
                    <label for="waktu_2">Sepanjang hari</label><br>
                </div>
            </div>

            <!--question 5-->
            <div class="question-wrapper">
                <li>Apakah anda memperhatikan adanya bau berbeda dari hidung anda?</li>
                <div class="option">
                    <input type="radio" id="bau_1" name="bau" value="ada">
                    <label for="bau_1">Ada bau berbeda</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="bau_2" name="bau" value="tidak_ada">
                    <label for="bau_2">Tidak ada bau</label><br>
                </div>
            </div>

            <!--question 6-->
            <div class="question-wrapper">
                <li>Apakah anda merasa gangguan / tersumbat / keluar cairan dari satu sisi / kedua sisi lubang hidung?</li>
                <div class="option">
                    <input type="radio" id="sisi_1" name="sisi" value="satu_sisi">
                    <label for="sisi_1">Hanya pada 1 sisi lubang hidung</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="sisi_2" name="sisi" value="dua_sisi">
                    <label for="sisi_2">Ada di 2 sisi lubang hidung</label><br>
                </div>
            </div>

            <!--question 7-->
            <div class="question-wrapper">
                <li>Apakah gangguan anda disertai gejala lain? (bisa pilih lebih dari 1)</li>
                <div class="option">
                    <input type="checkbox" id="gejala_1" name="gejala" value="pilek">
                    <label for="gejala_1">Pilek</label><br>
                </div>
                <div class="option">
                    <input type="checkbox" id="gejala_2" name="gejala" value="bersin">
                    <label for="gejala_2">Bersin-bersin</label><br>
                </div>
                <div class="option">
                    <input type="checkbox" id="gejala_3" name="gejala" value="hidung_mampet">
                    <label for="gejala_3">Hidung mampet</label><br>
                </div>
                <div class="option">
                    <input type="checkbox" id="gejala_4" name="gejala" value="gatal_mata">
                    <label for="gejala_4">Gatal di dekat mata</label><br>
                </div>
                <div class="option">
                    <input type="checkbox" id="gejala_5" name="gejala" value="nyeri_pangkal_hidung">
                    <label for="gejala_5">Nyeri di pangkal hidung</label><br>
                </div>
            </div>

            <br>
            <button  type ='button' id="submit_btn">Submit</button>
        </form>
    </div>
</body>
</html>